* {
    box-sizing: border-box;
    padding: 0;
    /* margin-left: 0.4em; */
    /* margin-right: 0.4em; */
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.07rem;
    overflow: hidden;
    overflow-y: scroll;

    color:#212A2F;
    
}

::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

/* Тут у нас начинается хеадер - верхняя панель */


/* Основной блок меню. Флекс позволяет двигаеть обьекты
внутри так, как мне нужно. В этом случае я расспределила
обьекты на равном расстоянии между собой и центрировала
их. Установила шрифт, расстояние между буквами и сделала
все буквы в этом блоке заглавными. Так же сделала меню на
всю ширину и на определённую велечину. */

.menu {
    /* border: 2px solid red; */
    position: sticky;
    width: 100%;
    height: 3.75em;
    margin-left: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Roboto', 'Courier', 'monospace' ;
    font-size: 1em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
}

/* Это три левых ссылки в хеадере, а точнее блок с ними.
Сделала внешний отступ влево, установила определённую
ширину блока, флекс и пространство между объектами
внутри */

.menu-left {
    /* background-color: aqua; */
    display: flex;
    width: 20em;
    justify-content: space-between;
    align-items: center;
}

.menu-left>a {
    position: relative;
    font-size: 1em;
    transition: 0.3s;
}

.menu-left>a:hover {
    font-size: 1.04em;
}

.menu-left>a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0%;
    transition: 0.3s;
    bottom: -1px;
}

.menu-left>a:hover::before {
    width: 100%;
}

/* Это блок с двумя другими блоками: иконками и другими
ссылками, которые находятся слева. Так, как они находятся
на разном расстоянии, то пришлось запихнуть их в ещё
 один див. Флекс, пространство между объектами, определённая
ширина */

.menu-deep-right {
    display: flex;
    justify-content: space-evenly;

    width: 30em;
}

/* Правое меню с ссылками. Внешний отступ с минусом,
потому что он слишком прилегал к правому краю. Не веришь,
проверь. Задання ширина блока, флекс и расстояние между
ссылками внутри блока */

.menu-right {
    /* background-color: aquamarine; */

    width: 16em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -3em;
}

.menu-right>a {
    position: relative;
    font-size: 1em;
    transition: 0.3s;
}

.menu-right>a:hover {
    font-size: 1.04em;
}

.menu-right>a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0%;
    transition: 0.3s;
    bottom: -1px;
}

.menu-right>a:hover::before {
    width: 100%;
}

/* Блок с иконками(вообще тут должны быть иконки. как
в магазине). Внешний отступ от правого края, ширина
флек, пространство между иконками */

.menu-icons {
    /* background-color: red; */
    margin-top: 0.3em;
    width: 10em;

    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

.intro {
    margin-left: 0.4em;
}

/* Тут должна быть картинка, но я просто тренируюсь,
так что просто блок див с классом img. Флекс, чтобы
не было верхнего отступа от хеадера. Высота от балды */

.img {
    background-image: url(img/Rectanglepreview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 740px;
    margin-left: -1em;


}

/* Блок с текстом, заголовком и блоком с сыллкой внутри.
отступ слева и сверху, для точного расположения, но не
уверена, что это правильно */

.inside-intro {
    padding-top: 29em;
    padding-left: 3em;
    
}

.inside-intro>h1 {
    color: white;
    font-size: 3em;
    margin-left: -0.01em;
    margin-bottom: -0.1em;
}

.inside-intro>p {
    color: white;
}

/* Блок с двумя блоками для ссылок-кнопок. Флекс,
центровка и расстояние между ссылками. Ширина всего
блока, где будут кнопки. Размер шрифта, жирность и 
расстояние между букквами */

.inside-intro-a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30em;

    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.03em;
}

/* .inside-intro-a>a>button {
    text-transform: uppercase;
    font-weight: 700;
} */

/* Блок с ссылкой. У обоих ссылок одинаковое значение.
(ну почти) Флекс, чтобы уместить текст внутри блоков
так, как мне нужно, а именно всё отцентрировать. Ширина
и высота типо кнопки. Внешний отступ справа (у второй
кнопки слева), чтобы они не прикосались друг к другу */

.men {
    background-color: white;

    margin-right: 0.5em;
    width: 50%;
    height: 3.6em;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.men:hover {
    background-color: rgb(130, 81, 185);
    color: #ffffff;
    width: 100%;
}

.women {
    background-color: white;
    margin-left: 1em;
    width: 50%;
    height: 3.6em;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.women:hover {
    background-color: rgb(255, 115, 115);
    color: white;
    width: 100%;
}

/* Верхний отступ был маленьким, пришлось увеличит ь */

.inside-intro>p {
    margin-top: 1.5em;
    margin-bottom: 1.6em;
}

.cards-block {
    margin-top: 2em;

    /* background-color: #a6c9db; */
    width: 80em;

    margin-left: auto;
    margin-right: auto;
}

.cards-block>h2 {
    font-weight: 700;
    font-size: 2rem;

    display: flex;
    justify-content: center;
}

.block-names {
    border-bottom: 2px solid #D3D4D5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3em;
    

}

.block-names-list {
    width: 35em;
    height: 2em;
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
}

.block-names-list a {
    letter-spacing: 2px;
    position: relative;
    padding: 0 25px;
    font-weight: 400;
    transition: 0.1s;
    font-size: 1em;
}

.block-names-list a:hover {
    font-weight: 700;
}

.block-names-list a::before {
    content: "";
    background-color: #000;
    height: 2px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -60%;
    transition: 0.3s;
    transform: scaleX(0);
}

.block-names-list a:hover::before {
    transform: scaleX(1);
}

.cards {

    height: 33rem;

    margin-top: 1.8em;

    display: flex;
    justify-content: space-between;
}


.cards a {
    background-color: #ffffff;
    width: 17em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-weight: 700;
    transition: 0.2s;
}

.cards a:hover {
    background-color: rgb(226, 226, 226);
}

.card1 {
    width: 25em;
    height: 25em;
    background-image: url(/img/card1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1-text {

    width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 3em;

}

.card1-text>p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.5em;
}

.line1 {
    background-color: #D3D4D5;
    height: 2px;
    width: 100%;
    padding-top: -2px;
}

.icon-text1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1em;
}

.icon-text1 img {
    width: 40px;
}

/* .card1-text p:last-child::before {
    content: "";
    background: url(img/card-icon1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
    margin-left: 0em;
    width: 40px;
    height: 30px;
} */

.card2 {
    width: 25em;
    height: 25em;
    background-image: url(/img/card2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2-text {

    width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 3em;

}

.card2-text>p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.5em;
}

.line2 {
    background-color: #D3D4D5;
    height: 2px;
    width: 100%;
    padding-top: -2px;
}

.icon-text2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1em;
}

.icon-text2 img {
    width: 40px;
}

.card3 {
    width: 25em;
    height: 25em;
    background-image: url(/img/card3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3-text {

    width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 3em;

}

.card3-text>p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.5em;
}

.line3 {
    background-color: #D3D4D5;
    height: 2px;
    width: 100%;
    padding-top: -2px;
}

.icon-text3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1em;
}

.icon-text3 img {
    width: 40px;
}