* {
    box-sizing: border-box;
    padding: 0;
    margin-left: auto; 
    margin-right: auto;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.07rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 0;

    line-height: 1.5;

    max-width: 1920px;

    color:#212A2F;
    
}

::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

/* Тут у нас начинается хеадер - верхняя панель */


/* Основной блок меню. Флекс позволяет двигаеть обьекты
внутри так, как мне нужно. В этом случае я расспределила
обьекты на равном расстоянии между собой и центрировала
их. Установила шрифт, расстояние между буквами и сделала
все буквы в этом блоке заглавными. Так же сделала меню на
всю ширину и на определённую велечину. */

.menu {
    /* border: 2px solid red; */
    width: 100%;
    height: 3.75em;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Roboto', 'Courier', 'monospace' ;
    font-size: 1em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
}

/* Это три левых ссылки в хеадере, а точнее блок с ними.
Сделала внешний отступ влево, установила определённую
ширину блока, флекс и пространство между объектами
внутри */

.menu-left {
    /* background-color: aqua; */
    display: flex;
    width: 20em;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 0;
}

.menu-left>a {
    position: relative;
    font-size: 1em;
    transition: 0.3s;
}

.menu-left>a:hover {
    font-size: 1.04em;
}

.menu-left>a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0%;
    transition: 0.3s;
    bottom: -1px;
}

.menu-left>a:hover::before {
    width: 100%;
}

.menu-logo {
    margin-left: auto;
    margin-right: auto;
}

/* Это блок с двумя другими блоками: иконками и другими
ссылками, которые находятся слева. Так, как они находятся
на разном расстоянии, то пришлось запихнуть их в ещё
 один див. Флекс, пространство между объектами, определённая
ширина */

.menu-deep-right {
    display: flex;
    justify-content: space-evenly;
    margin-right: -3em;
    margin-left: 0;

    width: 30em;
}

/* Правое меню с ссылками. Внешний отступ с минусом,
потому что он слишком прилегал к правому краю. Не веришь,
проверь. Задання ширина блока, флекс и расстояние между
ссылками внутри блока */

.menu-right {
    /* background-color: aquamarine; */

    width: 16em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -3em;
    margin-left: 0;
}

.menu-right>a {
    position: relative;
    font-size: 1em;
    transition: 0.3s;
}

.menu-right>a:hover {
    font-size: 1.04em;
}

.menu-right>a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0%;
    transition: 0.3s;
    bottom: -1px;
}

.menu-right>a:hover::before {
    width: 100%;
}

/* Блок с иконками(вообще тут должны быть иконки. как
в магазине). Внешний отступ от правого края, ширина
флек, пространство между иконками */

.menu-icons {
    /* background-color: red; */
    margin-top: 0.3em;
    width: 8em;

    display: flex;
    justify-content: flex-end;
    gap: -0.5em;
}

.intro {
    margin-left: 0.4em;
}

/* Тут должна быть картинка, но я просто тренируюсь,
так что просто блок див с классом img. Флекс, чтобы
не было верхнего отступа от хеадера. Высота от балды */

.img {
    background-image: url(img/Rectanglepreview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 57em;
    margin-left: 1em;


}

/* Блок с текстом, заголовком и блоком с сыллкой внутри.
отступ слева и сверху, для точного расположения, но не
уверена, что это правильно */

.inside-intro {
    padding-top: 38em;
    padding-left: 3em;
    margin-left: 1em;
    
}

.inside-intro>h1 {
    color: white;
    font-size: 3em;
    margin-left: -0.01em;
    margin-bottom: -0.1em;
}

.inside-intro>p {
    color: white;
}

/* Блок с двумя блоками для ссылок-кнопок. Флекс,
центровка и расстояние между ссылками. Ширина всего
блока, где будут кнопки. Размер шрифта, жирность и 
расстояние между букквами */

.inside-intro-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;

    width: 38em;

    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.03em;
}

/* .inside-intro-a>a>button {
    text-transform: uppercase;
    font-weight: 700;
} */

/* Блок с ссылкой. У обоих ссылок одинаковое значение.
(ну почти) Флекс, чтобы уместить текст внутри блоков
так, как мне нужно, а именно всё отцентрировать. Ширина
и высота типо кнопки. Внешний отступ справа (у второй
кнопки слева), чтобы они не прикосались друг к другу */

.men {
    background-color: white;

    margin-right: 0.5em;
    width: 50%;
    height: 3.6em;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.men:hover {
    background-color: rgb(130, 81, 185);
    color: #ffffff;
    width: 100%;
}

.women {
    background-color: white;
    margin-left: 1em;
    width: 50%;
    height: 3.6em;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.women:hover {
    background-color: rgb(255, 115, 115);
    color: white;
    width: 100%;
}

/* Верхний отступ был маленьким, пришлось увеличит ь */

.inside-intro>p {
    margin-top: 1.5em;
    margin-bottom: 1.6em;
}

.cards-block {
    margin-top: 4em;
    margin-bottom: 4em;

    /* background-color: #a6c9db; */
    width: 84em;
    height: 50em;

    margin-left: auto;
    margin-right: auto;
}

.cards-block>h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
}

.block-names {
    border-bottom: 2px solid #D3D4D5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3em;
    

}

.block-names-list {
    width: 35em;
    height: 2em;
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.block-names-list a {
    letter-spacing: 2px;
    position: relative;
    padding: 0 25px;
    font-weight: 400;
    transition: 0.1s;
    font-size: 1em;
}

.block-names-list a:hover {
    font-weight: 700;
}

.block-names-list a::before {
    content: "";
    background-color: #000;
    height: 2px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -50%;
    transition: 0.3s;
    transform: scaleX(0);
}

.block-names-list a:hover::before {
    transform: scaleX(1);
}

.cards {

    height: max-content;

    margin-top: 1.8em;

    display: flex;
    justify-content: space-between;
}


.cards a {
    background-color: #ffffff;
    width: 17em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-weight: 700;
    transition: 0.2s;
}

.cards a:hover {
    background-color: rgb(226, 226, 226);
}

.card1-block {
    margin-left: 0;
}

.card1 {
    width: 27em;
    height: 27em;
    background-image: url(/img/card1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1-text {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.card1-text>p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.5em;
    margin-left: 2em;
}

.line1 {
    background-color: #D3D4D5;
    border-style: none;
    height: 2px;
    align-self: center;
    width: 85%;
    margin: 0;
}

.icon-text1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1em;
    margin-left: 2.5em;
}

.icon-text1 img {
    width: 40px;
}

/* .card1-text p:last-child::before {
    content: "";
    background: url(img/card-icon1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
    margin-left: 0em;
    width: 40px;
    height: 30px;
} */

.card2 {
    width: 27em;
    height: 27em;
    background-image: url(/img/card2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2-text {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.card2-text>p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.5em;
    margin-left: 2em;
}

.line2 {
    background-color: #D3D4D5;
    border-style: none;
    height: 2px;
    align-self: center;
    width: 85%;
    margin: 0;
}

.icon-text2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1em;
    margin-left: 2.5em;
}

.icon-text2 img {
    width: 40px;
}

.card3-block {
    margin-right: 0;
}

.card3 {
    width: 27em;
    height: 27em;
    background-image: url(/img/card3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3-text {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.card3-text>p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.5em;
    margin-left: 2em;
}

.line3 {
    background-color: #D3D4D5;
    border-style: none;
    height: 2px;
    align-self: center;
    width: 85%;
    margin: 0;
}

.icon-text3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1em;
    margin-left: 2.5em;
}

.icon-text3 img {
    width: 40px;
}



.block3 {
    height: 68em;
}

.block3-image {
    text-align: center;
    margin-bottom: 0;
}

.block3-image>img {
    width: 100%;
    margin-left: 1em;
}

.block3-text {
    text-align: center;
}

.block3-text>h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.block3-text>p {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.block3-buttons {
    display: flex;
    width: 30%;
    height: max-content;
    justify-content: center;
    margin-top: 1.5em;
    gap: 2em;
    margin-bottom: 2em;
}

.block3-buttons>a {
    height: 3.5em;
    width: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #212A2F;
    margin: 0;
    transition: 0.3s;
}

.block3-buttons>a:hover {
    font-size: 18px;
    color: #212A2F;
    background-color: #bdbdbd;
}

.block4 {
    width: 84em;
    margin-bottom: 3em;
}

.block4>h2 {
    font-size: 2em;
    margin-left: 1.1em;
    margin-bottom: 0.5em;
}

.block4-imgs {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.block4-img {
    width: 40%;
    margin: 0;
    margin-left: 1em;
}

.block4-img img {
    width: 95%;
    transform: scale(1);
    margin: 10px 10px;
    transition: 0.2s;
}

.block4-img img:hover {
    transform: scale(1.05);
}

.block4-text {
    width: 90%;
    margin-left: 1em;
}

.block4-text h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.8em;
}



.block5 {
    height: fit-content;
    margin-bottom: 4em;
}

.block5-img {
    text-align: center;
    margin-top: 5em;
}

.block5-img>img {
    width: 100%;
    margin-left: 1em;
}

.block5-text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.block5-text>h2 {
    font-size: 2em;
    margin: 1em auto 0.5em auto;
}

.block5-text>p {
    text-align: center;
}

.block5-text>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 3em;
    margin: 1.5em auto;

    background-color: #212A2F;
    color: white;
    transform: scale(1);
    transition: 0.2s;
}

.block5-text>a:hover {
    transform: scale(1.1);
    background-color: #c7c7c7;
    color: #212A2F;
}


.block6 {
    width: 84em;
    margin-bottom: 4em;
}

.block6>h2 {
    font-size: 2em;
    margin-left: 0.6em;
}

.block6-imgs {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.block6-img {
    width: 40%;
    margin: 0;
}

.block6-img img {
    width: 95%;
    transform: scale(1);
    margin: 10px 10px;
    transition: 0.2s;
}

.block6-img img:hover {
    transform: scale(1.05);
}

.block6-text {
    width: 90%;
    margin-left: 1em;
}

.block6-text h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.8em;
}


.block7 {
    height: fit-content;
    margin-bottom: 4em;
    margin-top: 2em;
}

.block7-img {
    text-align: center;
    margin-top: 5em;
}

.block7-img>img {
    width: 100%;
    margin-left: 1em;
}

.block7-text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.block7-text>h2 {
    font-size: 2em;
    margin: 1.5em auto 0.5em auto;
    text-align: center;
}

.block7-text>p {
    text-align: center;
}

.block7-text>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 3em;
    margin: 1.5em auto;

    background-color: #212A2F;
    color: white;
    transform: scale(1);
    transition: 0.2s;
}

.block7-text>a:hover {
    transform: scale(1.1);
    background-color: #c7c7c7;
    color: #212A2F;
}


.block8 {
    width: 84em;
    height: fit-content;
}

.block8>h2 {
    font-size: 2em;
    margin-left: 0.6em;
    margin-bottom: 0.5em;
}

.block8-imgs {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.block8-img {
    width: 40%;
    margin: 0;
}

.block8-img img {
    width: 95%;
    transform: scale(1);
    margin: 10px 10px;
    transition: 0.2s;
}

.block8-img img:hover {
    transform: scale(1.05);
}

.block8-text {
    width: 90%;
    margin-left: 1em;
}

.block8-text>h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.8em;
}


.block9 {
    height: fit-content;
}

.block9>.text {
    text-align: center;
    width: 50%;
    margin: 5em auto 3em auto;
}

.block9>.text>h2 {
    font-size: 2em;
}

.block9>.text>p {
    margin-top: 3em;
}

.block9-form {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.block9-form input {
    margin-right: 1em;
    margin-left: 10em;
    width: 50em;
    height: 3em;
    border-style: none;
    border-bottom: 2px solid #d6d6d6;
    transition: 0.2s;
}

.block9-form input:focus {
    border-bottom: 2px solid #212A2F;
    outline: none;
}

.block9-form input::placeholder {
    color: #00000038;
    text-align: center;
    margin-right: 22em;
}

.form a {
    background-color: #212A2F;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 3em;
    transition: 0.2s;
}

.form a:hover {
    background-color: #c7c7c7;
    color:#212A2F;
}

.block9 .text2 {
    margin-top: 0.4em;
    margin-bottom: 2em;
}

.block9 .text2>p {
    color: #74797C;
    font-size: 0.8em;
}

.block9 .text2 a {
    color: #74797C;
    text-transform: none;
    text-decoration: underline;
    transition: 0.2s;
}

.block9 .text2 a:hover {
    color: #3c3f41;
}

.block10 {
    background-color: #212A2F;
    height: fit-content;
    margin-left: 0;
    margin-right: 0;
}

.block10-links {
    display: flex;
    gap: 13em;
    margin-left: 4em;
    margin-top: 3em;
}

.block10-links a, li{
    color: #FFFFFF;
    text-transform: none;
}

.header-link1 {
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-size: 1.4em;
}

.links-firstColumn {
    margin: 0;
}

.links-firstColumn li {
    margin-top: 1em;
}

.header-link2 {
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-size: 1.4em;
}

.links-secondColumn {
    margin: 0;
}

.links-secondColumn li {
    margin-top: 1em;
}

.header-link3 {
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-size: 1.4em;
}

.links-thirdColumn {
    margin: 0;
}

.links-thirdColumn li {
    margin-top: 1em;
}

.block10-secondBlock {
    display: flex;
    margin-top: 4em;
}

.block10-secondBlock>.text {
    margin-left: 4em;
    width: 25%;
    line-height: 1.5;
}

.block10-secondBlock>.text>h2 {
    color: #FFFFFF;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.block10-secondBlock>.text>p {
    color: #FFFFFF;
}

.lang {
    margin-right: 15em;
    margin-top: 1.5em;
}

.footer-end {
    text-align: center;
    margin: 4em auto 3em auto;
}

.footer-end>p {
    color: #FFFFFF;
}

.footer-end>p>a {
    color: #FFFFFF;
    text-decoration: underline;
    text-transform: none;
}
